beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
defusedxml==0.7.1
fonttools==4.59.0
fpdf2==2.8.4
idna==3.10
iniconfig==2.1.0
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-mock==3.14.1
requests==2.32.4
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
